.screen{
    background-color:white;
    height:372px;
    width:530px; 
    position: absolute;
    top:25px;
    left:345px;
    z-index: 1;
}
h10{
    color: blue
}
#losses{
    color: red
}
#guess-left{
    color: red
}
#wins{
    color: green
}
#guessed{
    color: black
}
